/* css 파일 이름 짓는 법 : 컴포넌트 이름.module.css  */
/* 클래스 형식으로 되어 있지만 우리가 가져올 객체의 속성의 이름을 가지고 있다.=> 이름 불러올 때 NewsApp에서 불러와야 한다.  */
.news_app {
    margin: 0 auto;
    width: 50%;
    border: 1px solid black;
    background: white;
}

.news_app_list {
    list-style-type: none;
}